<section data-ng-controller="LineupsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Lineups</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="lineup in lineups" data-ng-href="#!/lineups/{{lineup._id}}" class="list-group-item">
            <small class="list-group-item-text">{{lineup.created | date:'medium'}} / {{lineup.user.displayName}}</small>
            <h4 class="list-group-item-heading">{{lineup.name}}</h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!lineups.$resolved || lineups.length">
    	No Lineups yet, why don't you <a href="/#!/lineups/create">create one</a>?
    </div>
</section>