<section data-ng-controller="PlayersController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>{{player.name}} // {{player.position.abbreviation}}</h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == player.user._id">
		<a class="btn btn-primary" href="/#!/players/{{player._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">Posted on {{player.created | date:'mediumDate'}} by {{player.user.displayName}}</em>
	</small>
</section>
