<section data-ng-controller="ContestentriesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Contestentries</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="contestentry in contestentries" data-ng-href="#!/contestentries/{{contestentry._id}}" class="list-group-item">
            <small class="list-group-item-text">{{contestentry.created | date:'medium'}} / {{contestentry.user.displayName}}</small>
            <h4 class="list-group-item-heading">{{contestentry.name}}</h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!contestentries.$resolved || contestentries.length">
    	No Contestentries yet, why don't you <a href="/#!/contestentries/create">create one</a>?
    </div>
</section>