<section data-ng-controller="ContestentriesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>{{contestentry.name}}</h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == contestentry.user._id">
		<a class="btn btn-primary" href="/#!/contestentries/{{contestentry._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">Posted on {{contestentry.created | date:'mediumDate'}} by {{contestentry.user.displayName}}</em>
	</small>
</section>